body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 50px;
}

.headers-today {
    text-align: center;
    background-image: url(./donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px;
    color: white;
}

#headers-today {
    text-align: center;
    padding: 50px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, salmon, orange);
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    font-weight: 700;

}

.key-word {
    display: flex;
    gap: 50PX;
    margin-left: 40px;

    border: 5px;
}

#color-layout {
    color: tomato;
    border: 5PX solid tomato;
    background-color: rgb(245, 208, 201);
}

.anchor-tag {
    text-align: center;
}

#margin {
    margin-top: 50px;
}

.flexible-container {
    display: flex;
    margin: 40px;
    margin-left: 40px;
}

#food-family {
    text-align: left;
    background-color: #ddf0f7;
    background-image: url(./food.png);
    background-repeat: no-repeat;
    background-position: inherit;
    margin-right: 20px;
    padding: 40px;
}

#shelter-family {
    text-align: left;
    background-color: #f9e8f4;
    background-image: url(./shelter.png);
    background-repeat: no-repeat;
    background-position: initial;
    margin-right: 20px;
    padding: 40px;
}

#education-child {
    text-align: left;
    background-color: #fdedba;
    background-image: url(./Frame-1.png);
    background-repeat: no-repeat;
    background-position: inherit;
    margin-right: 20px;
    padding: 40px;
}

.new-layout {
    display: flex;
    padding: 50px;
}

.new-layout img {
    width: 120%;
}

.new-session {
    display: flex;
    margin-right: 50px;
    padding: 50px;
}

.new-session img {
    width: 110%;

}

#diffrent-tag {
    text-align: center;
    box-sizing: border-box;
    background-color: #fdedba;
    margin: 0px;
    padding: 40px;
}

.last-chapter {
    text-align: center;
    background-color: rgb(146, 169, 175);
}

#need {
    color: #e05f14;
}